{% extends "base.html.twig" %}

{% block javascripts %}
   
{% endblock %}

{% block content %}
   
<h1>This is my homepage</h1>
<a class="btn btn-primary" href="{{ path('fgw') }}">Greenwich Page</a>
{% endblock %}
