{% extends "base.html.twig" %}

{% block body %}
   <img src="{{ asset('danang.jpg')}}" width="600" height="400">
      <h3 class="text text-success text-uppercase mt-4">Da Nang</h3>
{% endblock %}