{% extends 'base.html.twig' %}

{% block body %}
  <img src="{{ asset('hanoi.png') }}" width="600" height="400" />
  <h3 class="text text-success text-uppercase mt-4">Ha Noi</h3>
{% endblock %}
