{% extends 'base.html.twig' %}

{% block body %}
  <img src="{{ asset('greenwich.jpg') }}" width="600" height="400" />
  <h3 class="text text-success text-uppercase mt-4">University of Greenwich (Vietnam)</h3>
{% endblock %}
