{% extends 'base.html.twig' %}

{% block body %}
	<div class="container text-center col-md-8 mt-3">
		<table class="table table-bordered">
			<tr>
				<th colspan="6" class="text-bg-warning">CATEGORY LIST</th>
			</tr>
			<tr>
				<th>Category Id</th>
				<th>Category Name</th>
				<th>Delete</th>
			</tr>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
               <td>
                  <a class="btn btn-outline-danger" 
                  href="{{ path('category_delete', {'id': category.id })}}" 
                  onclick="return confirm('Do you want to delete this category ?');"
                  >Delete</a>
               </td>
				</tr>
			</tr>
		{% endfor %}
	</table>
</div>{% endblock %}
