<center>
	<form action="{{ path('output') }}" method="get">
		<fieldset style="width: fit-content;">
         <legend style="font-weight: bold; color: red">USER LOGIN</legend>
			Username:
			<input type="text" name="username">
			<br><br>
			Password:
			<input type="password" name="password">
			<br><br>
			<input type="submit" value="Login">
		</fieldset>
	</form>
</center>
